<div class="page-header">
  <h3>Cuisine #<%= @cuisine.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @cuisine.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cuisines" class="btn btn-primary">
        Back
      </a>
      <a href="/cuisines/<%= @cuisine.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cuisine/<%= @cuisine.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Cuisine has many restaurants -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Restaurants
      </li>

      <% @cuisine.restaurants.each do |restaurant| %>
        <li class="list-group-item">
          <a href="/restaurants/<%= restaurant.id %>">
            <%= restaurant.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/restaurants/<%= restaurant.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/restaurants/<%= restaurant.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_restaurant/<%= restaurant.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_restaurant" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="">
      </div>

      <!-- Label and input for forecast_rating -->
      <div class="form-group">
        <label for="forecast_rating" class="control-label">
          Forecast rating
        </label>

        <input type="text" id="forecast_rating" name="forecast_rating" placeholder="Forecast rating" class="form-control" value="">
      </div>

      <!-- Label and input for number_of_reviews -->
      <div class="form-group">
        <label for="number_of_reviews" class="control-label">
          Number of reviews
        </label>

        <input type="text" id="number_of_reviews" name="number_of_reviews" placeholder="Number of reviews" class="form-control" value="">
      </div>

      <!-- Label and input for google_rating -->
      <div class="form-group">
        <label for="google_rating" class="control-label">
          Google rating
        </label>

        <input type="text" id="google_rating" name="google_rating" placeholder="Google rating" class="form-control" value="">
      </div>

      <!-- Label and input for opentable_rating -->
      <div class="form-group">
        <label for="opentable_rating" class="control-label">
          Opentable rating
        </label>

        <input type="text" id="opentable_rating" name="opentable_rating" placeholder="Opentable rating" class="form-control" value="">
      </div>

      <!-- Label and input for infatuation_rating -->
      <div class="form-group">
        <label for="infatuation_rating" class="control-label">
          Infatuation rating
        </label>

        <input type="text" id="infatuation_rating" name="infatuation_rating" placeholder="Infatuation rating" class="form-control" value="">
      </div>

      <!-- Label and input for tripadvisor_rating -->
      <div class="form-group">
        <label for="tripadvisor_rating" class="control-label">
          Tripadvisor rating
        </label>

        <input type="text" id="tripadvisor_rating" name="tripadvisor_rating" placeholder="Tripadvisor rating" class="form-control" value="">
      </div>

      <!-- Label and input for yelp_rating -->
      <div class="form-group">
        <label for="yelp_rating" class="control-label">
          Yelp rating
        </label>

        <input type="text" id="yelp_rating" name="yelp_rating" placeholder="Yelp rating" class="form-control" value="">
      </div>

      <!-- Label and input for eater_list -->
      <div class="form-group">
        <label for="eater_list" class="control-label">
          Eater list
        </label>

        <input type="text" id="eater_list" name="eater_list" placeholder="Eater list" class="form-control" value="">
      </div>

      <!-- Label and input for infatuation_list -->
      <div class="form-group">
        <label for="infatuation_list" class="control-label">
          Infatuation list
        </label>

        <input type="text" id="infatuation_list" name="infatuation_list" placeholder="Infatuation list" class="form-control" value="">
      </div>

      <!-- Label and input for other_top_list -->
      <div class="form-group">
        <label for="other_top_list" class="control-label">
          Other top list
        </label>

        <input type="text" id="other_top_list" name="other_top_list" placeholder="Other top list" class="form-control" value="">
      </div>

      <!-- Label and input for neighborhood_id -->
      <div class="form-group">
        <label for="neighborhood_id" class="control-label">
          Neighborhood
        </label>

        <%= select_tag(:neighborhood_id, options_from_collection_for_select(Neighborhood.all, :id, :name), :class => "form-control") %>
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="">
      </div>

      <!-- Label and input for cuisine_id -->
      <input type="hidden" name="cuisine_id" value="<%= @cuisine.id %>">

      <!-- Label and input for hours -->
      <div class="form-group">
        <label for="hours" class="control-label">
          Hours
        </label>

        <input type="text" id="hours" name="hours" placeholder="Hours" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Restaurant
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
