<div class="page-header">
  <h3>Restaurant #<%= @restaurant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @restaurant.name %></dd>

      <dt>Description</dt>
      <dd><%= @restaurant.description %></dd>

      <dt>Address</dt>
      <dd><%= @restaurant.address %></dd>

      <dt>Forecast rating</dt>
      <dd><%= @restaurant.forecast_rating %></dd>

      <dt>Number of reviews</dt>
      <dd><%= @restaurant.number_of_reviews %></dd>

      <dt>Google rating</dt>
      <dd><%= @restaurant.google_rating %></dd>

      <dt>Opentable rating</dt>
      <dd><%= @restaurant.opentable_rating %></dd>

      <dt>Infatuation rating</dt>
      <dd><%= @restaurant.infatuation_rating %></dd>

      <dt>Tripadvisor rating</dt>
      <dd><%= @restaurant.tripadvisor_rating %></dd>

      <dt>Yelp rating</dt>
      <dd><%= @restaurant.yelp_rating %></dd>

      <dt>Eater list</dt>
      <dd><%= @restaurant.eater_list %></dd>

      <dt>Infatuation list</dt>
      <dd><%= @restaurant.infatuation_list %></dd>

      <dt>Other top list</dt>
      <dd><%= @restaurant.other_top_list %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @restaurant.neighborhood_id %></dd>

      <dt>Price</dt>
      <dd><%= @restaurant.price %></dd>

      <dt>Cuisine</dt>
      <dd><%= @restaurant.cuisine_id %></dd>

      <dt>Hours</dt>
      <dd><%= @restaurant.hours %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Restaurant has many user_reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        User Reviews
      </li>

      <% @restaurant.user_reviews.each do |user_review| %>
        <li class="list-group-item">
          <a href="/user_reviews/<%= user_review.id %>">
            <%= user_review.rating %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/user_reviews/<%= user_review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/user_reviews/<%= user_review.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user_review/<%= user_review.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Restaurant has many restaurant_tags -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Restaurant Tags
      </li>

      <% @restaurant.restaurant_tags.each do |tagging| %>
        <li class="list-group-item">
          <a href="/taggings/<%= tagging.id %>">
            <%= tagging.restaurant_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/taggings/<%= tagging.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/taggings/<%= tagging.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tagging/<%= tagging.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Restaurant has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @restaurant.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Restaurant has many tags -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Tags
      </li>

      <% @restaurant.tags.each do |tag| %>
        <li class="list-group-item">
          <a href="/tags/<%= tag.id %>">
            <%= tag.tag_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/tags/<%= tag.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/tags/<%= tag.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_tag/<%= tag.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
